ul{
	list-style:none;
	}
h3{
	text-align:center;
}
a{
	text-decoration-line: none;
}
a:hover{
	text-decoration-line: underline;
}
li{
	border-bottom: 1px solid black;
}
#posts li{
	padding-bottom: 5px;
}